/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


img.mini-provider-logo{
  width: 24px;
  height: 24px;
}

#logout-btn{
  white-space:nowrap;
  overflow: hidden;
  text-align: left;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 3px;
}
#logout-btn span.username{
  display: inline-block;
  overflow-x: hidden;
  max-width: 125px;
}
#logout-btn span.caret{
  margin-top: 10px;
}
button#logout-btn{
  height: 25px;
}
button img{
  margin-left: -1px;
}

.sidebar-nav li.user + li.user{
  padding-top: 7px;
}
.sidebar-nav li.user div.inactive:hover{
  text-decoration: none;
  background-color: #eeeeee;
  padding: 0 15px;
  margin: 0 -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.brand strong{
  color: darkred;
}